.logo{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.navlink {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}